{% extends 'base.html.twig' %}

{% block title %}À Propos - Bucket-List{% endblock %}

{% block body %}
    <div class="container my-sync">
       <img src="https://media1.tenor.com/m/HR5gUQ8LquQAAAAC/fml-annoyed.gif" class="card-img-top" alt="">
    </div>
{% endblock %}
