{% extends 'base.html.twig' %}

{% block title %}À Propos - Bucket-List{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Notre Équipe</h1>
        <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title"> </h5>
                            <p class="card-text"><strong>Date de naissance:</strong> </p>
                            <p class="card-text"><strong>Créateur de:</strong> </p>
                            <p class="card-text"><strong>Description:</strong> </p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
