{% extends 'base.html.twig' %}

{% block title %}TP!{% endblock %}

{% block body %}
    <div class="container my-4">
        <div class="example-wrapper">
            <h1>Ceci est la page d'accueil !</h1>
        </div>
    </div>
{% endblock %}
