{% extends 'base.html.twig' %}

{% block title %}Transit{% endblock %}

{% block body %}
    <div class="container my-4">
        <div class="example-wrapper">
            <h1>Soyez attentif... Ouvrez l'oeil...</h1>
            <img src="https://media1.tenor.com/m/QLbV11ltA8cAAAAC/smart-thinking.gif" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(255 0 0) 0px 0px 0px 3px;">
            <img src="https://media.tenor.com/iXWLA-Zse_UAAAAM/smart.gif" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(255 0 0) 0px 0px 0px 3px; margin-left: 20px">
    </div></div>
{% endblock %}
