<footer class="custom-footer py-2 text-center">
    &copy; CTF PHP {{ "now"|date("Y") }}
    <ul class="list-inline mb-0">
        <li class="list-inline-item">
            <a href="{{ path('app_axeapp_axe_index') }}">Voir les commentaires</a>
        </li>
        <li class="list-inline-item">
            <a href="{{ path('app_aboutus') }}">À propos</a>
        </li>
    </ul>
</footer>