{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <h1 class="display-4">Axe d'amélioration du site</h1>
    {% else %}
        <h1 class="display-4">Commentaire d'amélioration du site</h1>
    {% endif %}
    <p class="lead">Proposés par nos utilisateurs : </p>

    <ul class="list-group">
        {% for axe in axes %}
            <li class="list-group-item">{{ axe.description }}</li>
        {% endfor %}
    </ul>

    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('app_axe_create') }}" class="btn btn-primary">Proposer un commentaire</a>
    {% endif %}

{% endblock %}