{% extends 'base.html.twig' %}

{% block title %}Hello FilmEnOrController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>La folie des grandeurs</h1>
    <p>Connaissez-vous cette réplique ? : "Il est l'<a class="hover-red-none" href="{{ path('app_word_found', {'word': 'Or'}) }}">or</a> mon seignor"</p>
    <a class="navbar-brand text-dark text-decoration-none fw-bold fs-6 ms-2"  href=" {{ film.lien}} "> Un peu de culture </a>
</div>
    {% if is_granted('ROLE_BAD') %}
        <div class="card fixed-bottom-right">
            <div class="card-body text-center">
                <img src="https://media1.tenor.com/m/MFE6UiMEpRoAAAAC/math-zack-galifianakis.gif" class="img-fluid rounded" alt="Genius Think Alike GIF">
            </div>
        </div>
    {% endif %}
{% endblock %}

