{% extends 'base.html.twig' %}

{% block title %}Page Unauthorized{% endblock %}

{% block body %}
    <h1>Erreur 401 : Unauthorized</h1>
    <p>You can try to go back to the <a href="{{ path('app_main') }}">homepage</a> or search for what you're looking for.</p>
{% endblock %}